<app-navbar></app-navbar>
<section class="section contact" *ngIf="questions.length > 0" data-section="section6" style="margin-top: 5%; min-height: 100%;">
 <div class="bootstrap-wrapper" *ngIf="!isSubmit">
   <div class="container-fluid">
     <div class="row">
       <div class="col-md-2" style="margin-top: 67px">
         <mat-card>
           <mat-card-content>
             <h3> <b>Instructions</b></h3>
             <ol>
               <li>Do not refresh the page otherwise you will get new questions in this quiz. </li>
               <li>Do not switch the tabs.</li>
               <li>Do not minimize the windows.</li>
             </ol>
           </mat-card-content>
         </mat-card>
       </div>
       <div class="col-md-8">
         <ng-container>
           <h1 class="mt20">On Going Quiz <b>{{questions[0].quiz.title}}</b></h1>
         </ng-container>
         <mat-card class="mt10" *ngFor="let q of questions; let i = index">
          <mat-card-content>
            <p><b>Q{{i + 1}})</b> <span class="ml10" [innerHTML]="q.content"></span></p>
            <mat-divider></mat-divider>
            <br>
            <div class="row mt20">
              <div class="col-md-6">
                <input type="radio" [value]="q.option1" [name]="'answer'+i" [(ngModel)]="q.givenAnswer">  {{q.option1}}
              </div>
              <div class="col-md-6">
                <input type="radio" [value]="q.option2" [name]="'answer'+i" [(ngModel)]="q.givenAnswer">  {{q.option2}}
              </div>
            </div>
            <div class="row mt20">
              <div class="col-md-6">
                <input type="radio" [value]="q.option3" [name]="'answer'+i" [(ngModel)]="q.givenAnswer">  {{q.option3}}
              </div>
              <div class="col-md-6">
                <input type="radio" [value]="q.option4" [name]="'answer'+i" [(ngModel)]="q.givenAnswer">  {{q.option4}}
              </div>
            </div>
          </mat-card-content>
         </mat-card>

         <div class="container text-center mt20 mb20">
           <button (click)="submitQuiz()" mat-raised-button color="primary">Submit Quiz</button>
         </div>
       </div>
       <div class="col-md-2">
        <mat-card style="margin-top: 67px;">
          <mat-card-header>
            <mat-card-title>Progress Timer</mat-card-title>
            <mat-card-subtitle>Quiz will automatically submitted when timer reaches 0:0:0</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content >
            <h1 class="text-center">{{getFormattedTimer()}}</h1>
            <mat-spinner color="accent" mode="determinate" [value]="(timer / (this.questions.length* 2 * 60)) * 100" style="margin: auto"></mat-spinner>
          </mat-card-content>
        </mat-card>
       </div>
     </div>
   </div>
 </div>
  <div class="bootstrap-wrapper" *ngIf="isSubmit">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Quiz Result</mat-card-title>
          </mat-card-header>
          <mat-card-content class="text-center">
            <h1>Marks Got : <b>{{marksGot}}</b> </h1>
            <h1>Correct Answers : <b>{{correctAnswers}}</b></h1>
            <h1>Questions Attempted : <b>{{attemptes}}</b></h1>
          </mat-card-content>
          <mat-card-actions class="text-center">
            <button mat-raised-button color="primary" (click)="printPage()">Print</button>
            <button mat-raised-button color="accent"[routerLink]="'/user/0'">Home</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>

<section class="section contact" *ngIf="questions.length == 0" data-section="section6" style="margin-top: 5%; min-height: 100%;">
  <div class="bootstrap-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2" style="margin-top: 67px">
          <app-user-sidebar></app-user-sidebar>
        </div>
        <div class="col-md-8" style="margin-top: 67px">
          <h1 class="txt">No Question in this Quiz.</h1>
        </div>
        <div class="col-md-2">
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
